* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  width: 100%;
  height: 100vh;
}

.header{
  display: flex;
  background-color: cadetblue;
  justify-content: center;
}

.header-text {
  padding-left: 20px;
  color: #fff;
}

.app {
  display: flex;
  justify-content: center;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  min-height: 700px;
  
  @media (max-width: 768px) {
    width: 100%;
  }
}
.app__content{
  width: 100%;
}
.btn-logout {
  width: 8rem;
  height: 30px;
  text-align: center;
  margin-top: 20px;
}

.greeting {
  display: flex;
  justify-content: space-between;
}

.table__heading{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}
.table__container {
  margin-left:-5px;
  margin-right:-5px;
}
  
.table {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.table__container::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.button{
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin: 10px;
}

